.container {
  text-align: center;
}

button {
  background: rgb(24, 187, 171);
  margin-bottom: 2%;
}

h2 {
  /* border-style: dotted; */
  text-align: center;
  padding: 10px;
  border: 2px black dashed;
  border-radius: 2rem;
}

